@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Linkedin:</strong> <a href="mailto:Support@example.com">https://www.linkedin.com/in/glaubervilane/</a><br />
    <strong>WebSite:</strong> <a href="mailto:Marketing@example.com">https://www.improve4web.com/</a>
</address>
