@{
    ViewData["Title"] = "Home Page";
}


<div class="row text-center">
    <div class="col-md-12">
        <h3>Welcome to the SalesWebMvc application</h3>
        <img src="~/images/best-seller.png" alt="badge" width="200" height="200" />
    </div>
</div>
